extends layout

block content
  #haircut-gallery
    each path in images
      img(src="images/haircuts/#{path}")
  include facebook-comment-widget
  include twitter-haircut-widget
append scripts
  script(type="text/javascript", src="javascripts/galleria-1.2.9.min.js")
  script(type="text/javascript")
    $(function() {
      Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
      $('#haircut-gallery').galleria({
        transition: 'fade',
        youtube: {
          controls: 1
        }
      });
    });
