doctype 5
html(lang="en")
  head
    block head
      title Welcome to the Boulevard
      link(rel="stylesheet", href="stylesheets/site.css")
  body
    include header
    block after-body
    include menu
    #content
      .poll-left
      #main-content
        block content
      .poll-right
    include footer

    block scripts
      script(type="text/javascript", src="javascripts/jquery-1.9.0.min.js")
      script(type="text/javascript", src="javascripts/site.js")
