nav.clearfix
  ul#navigation
    li.home
      a(href="index.htm") Home
    li.gallery
      a(href="haircut-gallery.htm") Gallery
    li.appointments
      a(href="#") Appointments
    li.contact
      a(href="#") Contact Us
